body {
  width: 400px;
  height: 456px;
  padding: 0;
  margin: 0;
  font-family: "Tahoma";
  background-color: #4a4a4f;
  color: #f9f9fa;
}

.form-title {
	font-size: 14px;
	text-align: center;
	padding: 12px;
	border-bottom: 2px solid #606060;
}

form {
	padding: 8px;
}

label, input, select {
	clear: both;
	display: block;
	margin: 8px;
	width: 96%;
	box-sizing: border-box;
}

option {
	box-sizing: border-box;
	vertical-align: middle;

}

label {
	font-size: 14px;
	padding-left: 2px;
}

input, select {
	padding-left: 4px;
}

input, select.location_recent_folders {
	height: 24px;
}

.location_all_folders {
	height: 164px;
	width: 96%;
	color: #0c0c0d;
	background-color: white;
	border: 1px solid #737373;
	box-sizing: border-box;
	margin: 12px 8px 8px;
	overflow: auto;
}

.folder {
	padding-left: 12px;
	display: none;
}

.opened > .folder {
	display: block;
}

.option {
	vertical-align: middle;
	cursor: pointer;
	padding-left: 8px;
}

.option:hover {
	background-color: #ededf0;
}

.option.selected {
	color: white;
	background-color: #0a84ff;
}

.option-title {
	display: inline-block;
	font-size: 13px;
	/*height: 24px;*/
	padding: 4px;
}

.folder-icon {
	display: inline-block;
	content: 'â¯';
	font-size: 11px;
	/*padding-left: 8px;*/
	/*padding-right: 2px;*/
}

.option.opened > .folder-icon {
	transform: rotate(90deg);
}



.add-bookmark,
.remove-bookmark {
	border: 0;
	cursor: pointer;
	font-size: 14px;
	transition: background-color .2s, border .2s;
}

.add-bookmark {
	width: 50%;
	height: 40px;
	color: white;
	background-color: #0a84ff;
	border: 1px solid #42a0ff;
	position: absolute;
	bottom: 0;
	left: 0;
	margin: 0;
}

.add-bookmark:hover {
	background-color: #45a1ff;
	border: 1px solid #98cafe;
}

.remove-bookmark {
	width: 50%;
	height: 40px;
	color: white;
	background-color: #d70022;
	border: 1px solid #e7566d;
	position: absolute;
	bottom: 0;
	right: 0;
}

.remove-bookmark:hover {
	background-color: #ff0039;
	border: 1px solid #ff98af;
}
